[submodule "projects/libcxx"]
	path = projects/libcxx
	url = https://github.com/llvm-mirror/libcxx
[submodule "tools/clang"]
	path = tools/clang
	url = git@bitbucket.org:mhaidl/clang_v2.git
[submodule "projects/pacxxrt"]
	path = projects/pacxxrt
	url = git@bitbucket.org:mhaidl/pacxx_v2.git
