[submodule "projects/libcxx"]
	path = projects/libcxx
	url = https://github.com/llvm-mirror/libcxx
[submodule "tools/clang"]
	path = tools/clang
        url = ../pacxx-clang.git
        branch = master
[submodule "projects/pacxxrt"]
	path = projects/pacxxrt
        url = ../pacxx-runtime.git
        branch = master
[submodule "tools/rv"]
	path = tools/rv
	url = ../../lklein14/rv.git
