[submodule "projects/libcxx"]
	path = projects/libcxx
	url = https://github.com/llvm-mirror/libcxx
[submodule "tools/clang"]
	path = tools/clang
	url = ../pacxx-clang.git
[submodule "projects/pacxxrt"]
	path = projects/pacxxrt
	url = ../pacxx-runtime.git
